services:
  backend:
    image: daviddominguez11/poolcenter-backend:latest   # la imagen publicada
    environment:
      DB_HOST: postgres
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: test_db
      PORT_DB: 5432
      SERVER_PORT_TEST: 4000
    ports:
      - "4000:4000"
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: test_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
